# Игнорировать папку .vs (Visual Studio)
.vs/

# Игнорировать файлы сборки и бинарные файлы
bin/
obj/

# Игнорировать пользовательские настройки Visual Studio
*.user
*.suo
*.userprefs

# Игнорировать файлы резервных копий
*.bak
*.tmp